# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UseRubyVersion@0
  displayName: 'Install Ruby 2.4 or newer'
  inputs:
    versionSpec: '>= 2.4'
- task: CmdLine@2
  displayName: 'Install asciidoctor-pdf'
  inputs:
    script: 'gem install asciidoctor-pdf --pre'
- task: CmdLine@2
  displayName: 'Get asciidoctor-pdf version'
  inputs:
    script: 'asciidoctor-pdf -v'
- task: CmdLine@2
  displayName: 'Convert repertoriu from adoc to pdf'
  inputs:
    script: 'asciidoctor-pdf repertoriu.adoc -o repertoriu.pdf'
- task: CopyFiles@2
  displayName: 'Copy repertoriu.pdf to staging'
  inputs:
    Contents: '*.pdf'
    TargetFolder: '$(build.artifactstagingdirectory)'
- task: PublishBuildArtifacts@1
  displayName: 'Publish staged files'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'